@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Merriweather:wght@400;900&family=Oswald:wght@300;400;600&family=Roboto:wght@400;500&family=Ubuntu:wght@400;500&display=swap');

body {
    background: #fffffe;
}

* {
    margin: 0;
    padding: 0;
}

.flux {
    margin-left: 8%;
    margin-right: 8%;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background: transparent;
    position: sticky;
    width: -moz-available;
    margin-right: inherit;

}

.img-logo {
    width: auto;
    border: 2px solid red;
}


.menu {

    background: #F0E3E7;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: auto;
    text-align: center;
    border-radius: 20px;
}
.menu:hover {
    background: #c2b9bc;
}

.text-about {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5px;
    text-transform:capitalize;
    
}

.about{
    text-decoration: none;
    color:#343333;
}

.about:hover{
    color: rgb(0, 0, 0);
}

.title-blog {
    display: flex;
    flex-direction: column;
    width: auto;
    margin: 0 20px;
    text-align: center;
    color: #000000;
    box-sizing: border-box;
    
}

.bk-image {
    opacity: 0.7;
    display: flex;
    flex-direction: column;
    max-width: 1264px;
    height: 420px;
    position: relative;

}

    


.feet {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 20px;
    margin-top: 10px;
    
    
    
}

.contact {
    background:  #dad5d5;
    text-align: center;
    border: 2px solid beige;

}

.article {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 80vh;
    background: #e8e8e8;
    margin-top: 20px;
}

.link-article {
    background: #f3f2f2;
    padding: 20px;
    margin: 20px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;

}

.article0 {
    color: #212529;
    text-decoration: none;
}

.article0:hover {
    color: rgb(136, 135, 135);
}

.title-about{
    color: #212529;
    text-align: center;

}

.img-profil {
    display: block;
    margin: 0 auto;
    margin-top: 5px;
    padding: 2px;
    clip-path: circle(85px);
}

.intro-about {
    color: rgb(0, 0, 0);
    text-align: justify;
    border: 2px solid #626262;
    margin: 5px;
    padding: 5px;
}

.contact-about {
    color:#212529;
    text-align: center;

}

.list {
    color: rgb(12, 12, 12);
    text-decoration: none;
    
}