body {
    background: #363d4a;
}

.container {
    display: flex;
    flex-direction: row;
    padding: 10px;
    background: rgb(0, 0, 0);
    text-align: center;
    font-size: 16px;
    max-width: auto;
    border: 1px solid #ccc;
    flex-wrap: wrap;
}

.logo {
    width: 100px;
    height: 100px;
    
}

.return {
    background: rgb(200, 200, 200);
    text-align: center;
    font-size: 16px;
    margin: 10px 0 0 0;
    justify-content: space-between;
    flex: 0;
}

.title-blog {
    justify-content: center;
    text-align: center;
    margin-top: 5px;
    padding-right: 100px;
    padding-top: 150px;
    height: 185px;
    flex: 1;
    color: #000000;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    background-image: url("entre-fort.jpg");
}

.menu {
    justify-content: right;
    text-align: right;
    margin: 0 0 0 600px;
    background: rgb(8, 8, 8);
    color: rgb(250, 250, 250);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.menu:hover{
    color: rgb(255, 148, 60);
}

.contact {
    background: #d34343;
    text-align: center;
    flex-direction: row;
    position: absolute;
    bottom: 0;

}



.link-article {
    display: flex;
    background: #d34343;
    width: auto;
    padding: 20px 0px 20px 100px;
    margin-top: 20px;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;


}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: blue;
}