@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Merriweather:wght@400;900&family=Oswald:wght@300;400;600&family=Roboto:wght@400;500&family=Ubuntu:wght@400;500&display=swap');

body {
    background: #bcbcbc;
}

* {
    margin: 0;
    padding: 0;

}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background: #d3d1d1;
    position: fixed;
    width: 100vw;
}

.img-logo {
    width: 100px;
    border: 2px solid red;
}


.title-blog {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 450px;
    background-image: url(image-background-blog/pex-1000.jpg);
    font-size: 80px;
    font-family: 'Lato', sans-serif;

}

.title {
    display: flex;
    flex-direction: column;
    justify-content: centre;
    align-items: centre;
    text-align: center;
    margin-top: 100px;
    font-size: 70px;
    color: #1500ff;
}

.menu {

    background: #bcbcbc;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 13vw;
    height: 5vh;
    text-align: center;
    margin-right: 20px;

}

.about{
    text-decoration: dashed;
    color:#343333;
}

.about:hover{
    color: rgb(0, 0, 0);
}

.feet {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 10px 20px;
    
}

.contact {
    background:  #dad5d5;
    text-align: center;
    border: 2px solid beige;

}

.article {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 80vh;
    background: #e8e8e8;
    margin: 20px;
}

.link-article {
    background: #f3f2f2;
    padding: 20px;
    margin: 20px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;

}

.article01 {
    color: #000000;
    text-decoration: none;
}

.article01:hover {
    color: rgb(241, 241, 241);
}

.title-about{
    color: rgb(0, 0, 0);
    text-align: center;

}

.img-profil {
    display: block;
    margin: 0 auto;
    margin-top: 5px;
    padding: 2px;
    clip-path: circle(85px);
}

.intro-about {
    color: rgb(0, 0, 0);
    text-align: justify;
    border: 2px solid #626262;
    margin: 5px;
    padding: 5px;
}

.contact-about {
    color: rgb(0, 0, 0);
    text-align: center;

}

.list {
    color: rgb(12, 12, 12);
    text-decoration: none;
    
}